.DS_Store
Thumbs.db

*.orig

.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

**/bin/
**/obj/
**/out/

*.pubxml
*.pubxml.user
Properties/PublishProfiles/
**/publish/

*.log
TestResult*/
TestResults/
*.coverage
*.coveragexml

packages/
*.nupkg
*.snupkg
.env
**/*.env
appsettings.*.Local.json
secrets.json

_ReSharper*/
*[Rr]e[Ss]harper
*.sln.iml

node_modules/
